*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clear::after{
content: '';
clear: both;
display: block;
}
.left{
    float: left;
}

.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.md-content{
    max-width: 1300px;
    margin: auto;
}
/*header*/
body,h1,h2,h3,h4,h5,h6,p,a.span{
    font-family: 'Work Sans', sans-serif;
}
.header-sectoin{
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.header-sectoin a{
    color: #010101;
}
.header-logo{
width: 30%;
}
.logo img{
height: 60px;
float: left;

}
.header-menu{
width: 56%;
} 
.logo span{
    display: inline-block;
    margin-top: 14px;
    font-size: 26px;
    font-weight: 500;
    margin-left: 10px;
    transition: .4s;

}
.logo span:hover{
    color: #ddd;
}
.header-button{
width: 14%;
}
.header-btn{
border: 2px solid #6278df;
color: #6278df !important;
display: inline-block;
padding: 10px 30px;
border-radius: 10px;
margin-top: 8px;
font-size: 17px;
font-weight: 600;
transition: .5s;

}
.header-btn:hover{
    background-color: #6278df;
    color: white !important;
    box-shadow: 5px 5px 8px #6278df ;
}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 20px;
    font-size: 15px;
    line-height: 60px;
}
.primary-menu ul li a:hover{
    color:#6278df ;
    cursor: pointer;
}
/* dropdown menu*/
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 270px;
   
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    margin-top: 0px;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 10;

}
.primary-menu ul li ul li{
    display: block;
}
.primary-menu ul li ul li:first-child {
    border-bottom: 1px solid #ddd;
  padding-right: 90px;
    
}
.primary-menu ul li ul li:nth-child(2) {
    border-bottom: 1px solid #ddd;
  
}
.primary-menu ul li ul li:nth-child(3) {
    border-bottom: 1px solid #ddd;
   
}
.primary-menu ul li ul li:nth-child(4) {
    border-bottom: 1px solid #ddd;
  
    
}
.primary-menu ul li ul li:nth-child(5) {
    border-bottom: 1px solid #ddd;

}
.primary-menu ul li ul li:nth-child(1) {
    border-bottom: 1px solid #ddd;
   
    
}
.primary-menu ul li ul li:nth-child(6) {
    border-bottom: 1px solid #ddd;
 
    
}

.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/*banner*/
.banner-sectoin{
 background: url(./ims28/mbr-4.jpg) no-repeat center ;
 background-size: cover;
 padding: 150px 0;
 color: white;
position: relative;
z-index: 9;
margin-top: 70px;
}
.banner-sectoin::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
}

.banner-content h3{
    font-size: 26px;
    font-weight: 400;
}
.banner-content h2{
    font-size: 60px;
   margin: 30px 0;
} 
.defult-btn{
    color: #7d7d7d;
    padding: 20px 30px;
    display: inline-block;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
   
} 
.defult-btn:hover{
background-color: rgb(105, 105, 233);
color: white;
transition: .5s;

}
/*banner-bottom*/
.banner-bottom{
    background: #f7f9ff;
    padding: 100px 0;
}
.video{
    width: 48%;
}
.video-content{
    width: 48%;
}
.video-content h3{
    font-size: 51px;
    font-weight: 400;
    margin-bottom: 35px;
}
.video-content p{
    color: #767676;
    font-size: 18px;
    line-height: 1.7em;
}
/*service-sectoin*/
.service-sectoin{
    background: #fff;
    padding: 100px 0;
}
.sectoin-tittle h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.sectoin-tittle p{
    color: #767676;
    font-size: 26px;
}
.service-item{
    margin-top: 90px;
}
.service-box{
    width: 31.3%;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .1);
    margin-left: 2%;
    margin-bottom: 30px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 4px;

}
.s-icon{
    width: 60px;
    float: left;
    min-height: 190px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}
.s-content{
    margin-top: 8px;
}
.s-content h3{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.s-content p{
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}
.service-box:hover{
    box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .1);
}
/*pricing*/
.pricing-sectoin{
    background-color: #f7f9ff;
    padding: 50px;
   
}
.sectoin-tittle h1{
    font-size: 60.6px;
font-weight: 400;

}
.sectoin-tittle p{
    font-size: 30.6px;
font-weight: 200;

}
.pricing-table{
    padding-top: 72.7px;
  
}
.p-item{
    width: 31.3%;
    margin-right: 2%;
    background-color: white;
    box-shadow: 3px 3px 30px 0 rgba(98,120,223,.1);
    border-radius: 6px 6px 0 0;
}
.p-item:nth-child(3){
    margin-right: 0;
}
.p-header{
    padding: 30px;
    border-bottom: 1px solid black;
    transition: .5s;
}
.p-header h1{
    margin: 35.3px 0;
font-size: 57px;
word-spacing: -10px;
margin-bottom: 50.5px;
}
.p-header h1 span{
    font-size: 20px;
    word-spacing: 5px;
}
.p-header h4{
    font-size: 25.4px;
font-weight: 500
}
.p-header h5{
    font-weight: 500;
font-size: 19.7px;
margin-bottom: 33.4px;
}
.p-header p{
    font-size: 20px;
font-weight: 300;
line-height: 1.6em;
}


.p-content ul{
    font-size: 20.9px;
font-weight: 200;

}
.p-content ul li{
    list-style: none;
    margin: 20px;
    margin: 30px ;
}
.p-content ul li span{
    display: inline-block;
    font-size: 35px;
    color: #6278df;
    width: 57px;
}
.p-btn {
    padding-bottom: 60.4px;
}
.p-btn .defult-btn{
    box-shadow: 3px 3px 30px  rgba(98,120,223,.3);
    color: #6278df;
    transition: .5s;
}
.p-item:hover .p-header{
    background-color: #6278df;
    color: white;
    border-radius: 6px 6px 0 0;
}
.p-item:hover .defult-btn{
    background-color: #6278df;
    color: white;
}
.p-btn .defult-btn:hover{
    background-color: black;

}
/* team */
.team-sectoin{
    padding: 50px 0;
}
.sectoin-tittle h2{
   
        font-size: 46.9px;
        font-weight: 400;
        padding: 53px;
        padding-bottom: 104.3px;
    
}
.member{
    width: 23%;
    margin-right: 2%;
    box-shadow: 3px 3px 30px  rgba(98,120,223,.3);
    

}
.team-member{
   
    border-radius: 6px 6px 0 0;

}
.member img{
    width: 100%;
    border-radius: 4px 4px 0 0;

}
.member h4{
    font-size: 25.2px;
    font-weight: 400;
    margin: 20px;
}
.member p{
    font-size: 20.6px;
    margin: 20px;
    color: #767676;
    padding-bottom: 25.6px;
}
.member:hover{
    box-shadow: 5px 5px 60px  rgba(98,120,223,.3);
}
/* newslatter */
.newslatter-sectoin{
    background-color: #f7f9ff;
    margin-top: 50px;
    padding-bottom: 100px;
}

.news-tittle h2{
    font-size: 50.2px;
    font-weight: 400;
}
.news-tittle p{
    font-size: 27.2px;
font-weight: 200;
padding: 50px;
}


    .default-input {
        width: 300.5px;
        padding: 20px 15px;
        font-size: 20px;
        border: 1px solid #e4e4e4;
        border-radius: 8.3px;
        margin-top: 41px;
        box-shadow: 3px 3px 20px  rgba(98,120,223,.3);
       box-sizing: border-box;

    }

.submit-btn{
    background: #6278df;
font-size: 23px;
color: #fff;
padding: 20px 87.6px;
border-radius: 10px;
cursor: pointer;
display: inline-block;
margin-left: 15.7px;
transition: .5s;
}
.submit-btn:hover{
    box-shadow: 5px 5px 60px  #6278df;
    background-color: #fff;
    color:#6278df;
    border: 2px solid #6278df ;
}
/* update */
.update{
  padding-bottom: 70px;
}

.update-tittle h1{
    float: left;
width: 48%;
font-size: 41.5px;
font-weight: 500;
padding: 105.4px 10px;
}
.update-tittle p{
    float: right;
width: 48%;
font-size: 22.7px;
color: #767676;
padding: 90px 10px;
}
.update-member{
    width: 48%;
    box-shadow: 3px 3px 20px  rgba(98,120,223,.2);
    border-radius: 6px;
    transition: .5s;
}
.update-member:hover{
    box-shadow: 3px 3px 20px  rgba(98,120,223,.4);
    cursor: pointer;
}
.update-member img{
  float: left;
  width: 48%;
  border-radius: 6px  0 0 6px  ;
}
.update-bio h2{
    font-size: 23.3px;
font-weight: 500;
padding: 20px
}
.update-bio p{
    font-size: 21.5px;
color: #767676;
padding: 19.7px;
    padding-top: 19.7px;
padding-top: 7.9px;
}
.update-bio{
    float: right;
    width: 48%;
}
/* feadback */
.feadback-sectoin{
    background-color:#f7f9ff ;
    padding-bottom: 50px;
}
.feadback-tittle p{
    font-size: 27.6px;
    color: #767676;
   
   
    padding-top: 71.3px;
}
.feadback-tittle h2{
    font-size: 46.5px;
font-weight: 400;
padding: 26.6px;
}
.feadback-item{
    width: 31.3%;
 margin-top: 50px;

}
.feadback-content{
    font-size: 23.7px;
font-weight: 1.5em;
color: #767676;
background-color: #fff;
margin-right: 25px;
padding: 50px;
position: relative;
box-shadow: 3px 3px 20px  rgba(98,120,223,.2);
}
.feadback-content:hover{
    box-shadow: 3px 3px 20px  rgba(98,120,223,.4);
}
.feadback-content::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -19px;
    margin: auto;
    width: 0;
height: 0;
border-style: solid;
border-width: 20px 20px 0 20px;
border-color: #ffffff transparent transparent transparent;

}
.feadback-content p{
    position: relative;
}
.feadback-content p::before{
    content: "\f10d";
    font-family: FontAwesome;
    
    font-size: 90.8px;
    position: absolute;
    opacity: .2;
    bottom: 151.6px;
    left: -21.4px;
}
.feadback-bio{
    margin-top: 50px;
}
.feadback-img img{
    border-radius: 50%;
    width: 80px;
    float: left;
   
   
   margin-right: 20px;
}
.feadback-img{
    width: 180px;
    margin: auto;
}
.bio{
    position: relative;
    top: 20px;
}

.feadback-bio h3{
    font-size: 20px;
    font-weight: 400;
 
}
.feadback-bio p{
    font-size: 18px;
    color: #767676;
  
}
/* contract */
.contract-sectoin{
    padding-top: 80px;
}

.content-map{
    width: 48%;
}
.content-form{
    width: 48%;
}
.fotter-content h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.fotter-content p{
    font-size: 22px;
    color: #767676;
    line-height: 1.8em;
}

.footer-form .w100{
    width: 100%;
}
.footer-form .w50{
    width: 48%;
}
.footer-form textarea{
    height: 200px;
}
.footer-form .submit-btn{
  padding: 20px 40px;
  margin-top: 25px;
margin-left: 0;
border: 1px solid #6278df;
}
.contract-footer{
    padding-top: 60px;
    padding-bottom: 50px;
}
.contract-footer p{
    font-size: 22px;
}
.contract-footer span{
    color: #767676;
    transition: .5s;
}
.contract-footer span:hover{
    color: black;
    cursor: pointer;
}